.container {
    max-width: 1200px;
    margin: 0 auto;
}
.works {
    font-size: 30px;
    font-weight: 900;
    transform: translateX(105px);
    &:hover {
        color: #83888F;
    }
}
.img1 {
    margin-left: 95px;
    margin-top: 12px;
    /*transform: translateX(95px) translateY(12px)*/
}
.img2{
    margin-left: 420px;
    margin-top: 12px;
 /* transform: translateX(420px) translateY(12px)  */
}
.img3 {
    margin-left: 765px;
    margin-top: 12px ;
    
    /* transform: translateX(765px) translateY(12px)*/
}
@media (max-width: 769px) and (min-width:482px)  {
  .container {
    max-width: 769px;
    margin: 0 auto;
  }
  .our {
    width: 689px;
    height: 118px;
    margin-top: 150px;
  }
    .img {
     margin-left: 50px;
      height: 31px;
width: 497px;


    }

}
@media (max-width:480px)
 {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .our {
    width:375px ;
    height: 72px;
    margin-left: 50px;
  }
  .works {
    font-size: 24px;
    margin-left: 100px;
    transform: translateY(-450px);
    color: #83888F;
    &:hover {
      color: black;
    }
  }
  .img {
    display: none;
  }
 }
.nt {
  transform: translateY(130px) translateX(-850px);
  

    
  &:hover {  
    width: 217px;
  font-size: 20px;
  font-weight: 900;
     background-color: aqua;
         padding: 32px ;
         border: 3px ;
         border-radius: 7.5px;
         color: white;
    }
    
}

@import "header";
@import "hero";
@import "collection";
@import "choose";
@import "cheers";
@import "about";
@import "footer";
    
