.container {
  max-width: 1200px;
  margin: 0 auto;
}

.works {
  font-size: 30px;
  font-weight: 900;
  transform: translateX(105px);
}
.works:hover {
  color: #83888F;
}

.img1 {
  margin-left: 95px;
  margin-top: 12px;
  /*transform: translateX(95px) translateY(12px)*/
}

.img2 {
  margin-left: 420px;
  margin-top: 12px;
  /* transform: translateX(420px) translateY(12px)  */
}

.img3 {
  margin-left: 765px;
  margin-top: 12px;
  /* transform: translateX(765px) translateY(12px)*/
}

@media (max-width: 769px) and (min-width: 482px) {
  .container {
    max-width: 769px;
    margin: 0 auto;
  }
  .our {
    width: 689px;
    height: 118px;
    margin-top: 150px;
  }
  .img {
    margin-left: 50px;
    height: 31px;
    width: 497px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .our {
    width: 375px;
    height: 72px;
    margin-left: 50px;
  }
  .works {
    font-size: 24px;
    margin-left: 100px;
    transform: translateY(-450px);
    color: #83888F;
  }
  .works:hover {
    color: black;
  }
  .img {
    display: none;
  }
}
.nt {
  transform: translateY(130px) translateX(-850px);
}
.nt:hover {
  width: 217px;
  font-size: 20px;
  font-weight: 900;
  background-color: aqua;
  padding: 32px;
  border: 3px;
  border-radius: 7.5px;
  color: white;
}

.header_li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #83888f;
}
a:hover {
  color: #333d4b;
}

.header_box {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 30px;
}
ul:hover {
  color: white;
}

.maxsus {
  display: none;
}

@media (max-width: 480px) {
  .header_li {
    display: none;
  }
  .maxsus {
    display: inline-block;
    color: #333d4b;
    margin-top: 12px;
    margin-right: 40px;
  }
  .header_left {
    width: 163px;
    height: 18px;
    margin-top: 34px;
    margin-left: 40px;
  }
}
.hero_box {
  height: 600px;
  background-image: url(/images/Bitmap\ \(9\).svg);
  border-radius: 15px;
  margin-top: 50px;
}

.hero_box2 {
  transform: translateY(140px);
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 72px;
  width: 493px;
  height: 145px;
}

p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 445px;
  height: 78px;
}

.hero_left {
  margin-left: 90px;
}

.hero_a {
  color: white;
}
.hero_a:hover {
  background-color: aqua;
  padding: 16px;
  border: 3px;
  border-radius: 7.5px;
  color: white;
}

@media (max-width: 480px) {
  .hero_box {
    max-width: 427px;
    height: 700px;
    margin: 0 auto;
  }
  p {
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;
    width: 279px;
    height: 101px;
    padding-bottom: 15px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    width: 279px;
    height: 81px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .hero_box2 {
    width: 279px;
    height: 301px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
  .hero_a {
    display: flex;
    justify-content: center;
  }
}
.collection {
  display: flex;
  width: 1111px;
  height: 398.55px;
  justify-content: space-between;
}

.collection_h2 {
  color: #333D4B;
  text-align: center;
}

.collection_p {
  color: #333D4B;
  text-align: center;
  width: 255px;
  height: 78px;
}

.collection_img1 {
  margin-bottom: 90px;
  margin-left: 60px;
}

.colllection_img2 {
  margin-bottom: 90px;
}

.chil_h2 {
  transform: translateY(-80px) translateX(20px);
  color: #333D4B;
  text-align: center;
}

.chil_p {
  color: #333D4B;
  text-align: center;
  transform: translateY(-80px) translateX(60px);
  width: 255px;
  height: 78px;
}

.chil_h2_2 {
  transform: translateX(20px);
  color: #333D4B;
  text-align: center;
}

.chil_p_2 {
  color: #333D4B;
  text-align: center;
  transform: translateX(10px);
  width: 255px;
  height: 78px;
}

@media (max-width: 769px) {
  .collection {
    display: flex;
    flex-direction: column !important;
    margin-left: 200px;
  }
  .chil_h2 {
    text-align: start;
    margin-left: 80px;
  }
  .chil_h2_2 {
    text-align: start;
    padding-left: 80px;
  }
  .collection_h2 {
    text-align: start;
    margin-left: 80px;
  }
}
@media (max-width: 480px) {
  .collection {
    width: 375px;
    height: 521px;
    margin: 0 auto;
  }
}
.choose_box {
  background-color: #2C343E;
  height: 600px;
}

.choose_h4 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 900;
  transform: translateY(112px);
}

.choose_p {
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: 400;
  transform: translateY(180px);
}

@media (max-width: 480px) {
  .choose_box {
    width: 327px;
    height: 707px;
    margin-left: 32px;
  }
  .choose_h4 {
    font-size: 28px;
  }
  .choose_p {
    font-size: 15px;
    transform: translateY(-50px);
  }
}
@media (max-width: 769px) {
  .choose_box {
    margin-top: 1200px;
    height: 800px;
  }
  .choose_h4 {
    transform: translateY(40px);
  }
  .choose_p {
    transform: translateY(70px);
  }
}
.cheers_box {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 350px;
  height: 382px;
  background-color: #0e8784;
  transform: translateY(-150px) translateX(15px);
  border-radius: 8px;
}

.cheers_img {
  text-align: center;
  width: 71px;
  height: 72px;
  margin-left: 136px;
  margin-top: 72px;
}

.cheers_h5 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.cheers_p {
  color: white;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  width: 255px;
  height: 78px;
}

@media (max-width: 480px) {
  .cheers_box {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 100px;
    transform: translateY(-300px);
  }
  .card {
    width: 279px;
    height: 382px;
    margin-top: 30px;
    transform: translateY(-250px) translateX(-42px);
  }
}
@media (max-width: 769px) and (min-width: 482px) {
  .cheers_box {
    transform: translateY(-250px);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .cheers_img {
    transform: translateX(-70px);
  }
  .card {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 573px;
    height: 180px;
    display: flex;
    justify-content: space-around;
  }
}
.img {
  margin-bottom: 150px;
}

.img1 {
  margin-left: 155px;
  transform: translateY(80px);
}

.img2 {
  transform: translateX(-80px) translateY(80px);
}

.img3 {
  transform: translateX(140px) translateY(33px);
}

.img4 {
  margin-left: 165px;
}

.card_box {
  display: flex;
  justify-content: space-between;
}

.card_2 {
  width: 285px;
  height: 355px;
}

.card2_img {
  width: 90px;
  height: 72px;
}

.card2_h2 {
  color: #333D4B;
  font-size: 32px;
  font-weight: 900;
}

.card2_p {
  color: #333D4B;
  font-size: 20px;
  font-weight: 400;
  width: 285px;
}

@media (max-width: 769px) and (min-width: 482px) {
  .card_box {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .card_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    transform: translateY(-350px);
  }
  .card2_img {
    margin-left: 100px;
  }
  .card2_h2 {
    font-size: 25px;
    text-align: center;
  }
}
.footer_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c343e;
  width: 1200px;
  height: 120px;
  margin-top: 200px;
}

.footer_center {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
}

.footer_center_li {
  color: #83888f;
}
.footer_center_li:hover {
  color: white;
}

.footer_img {
  margin-left: 24px;
}

@media (max-width: 769px) and (min-width: 482px) {
  .footer_box {
    width: 769px;
    height: 270px;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .footer_box {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transform: translateY(-500px);
    margin-left: 32px;
  }
  .footer_center {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
  }
}/*# sourceMappingURL=main.css.map */